body {
		background: rgb(27,40,60) url(../src/phenomeno_bg.png) repeat left top;
		font-family:"Microsoft YaHei",sans-serif;
	 }
#nav{width:800px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	opacity:0.7;
	}
#container{
			margin-left:auto;
			margin-right:auto;		
			height:auto;
			width:800px;
            background-color:rgba(255,255,255,0.6);	
			border-radius:30px;
			margin-top:5px;
			text-indent:33px;
          }
.picture{
         width:1550px;
		 height:550px;
		 margin-left:auto;
		 margin-right:auto;
		 padding:0px;
		 text-align:center;
		 }
.picture img{
			border-radius:30px;
			}
#container p{
			line-height:1.8;
			padding-left:20px;
			padding-right:20px;
			}
.more{
		float:right;
	}
p{line-height:1.8;
  padding-left:20px;
  padding-right:20px;
  }
h1,h2,h3{padding-left:20px;}
h1{padding-top:20px;}
#sidebar{
		 width:120px;
         height:600px;
		 position:absolute;
		 top:630px;
		 right:420px;
        }
#sidebar img{
			width:120px;
			height:auto;
			margin-top:5px;
            margin-bottom:20px;
			border-radius:20px;
            }
#sidebar a:link,#sidebar a:visited{opacity:0.2;}
#sidebar a:hover,#sidebar a:active{opacity:1.0;}
