body{background-color:black;
     font-family:"Microsoft YaHei",sans-serif;
	 }
#nav a{
      text-decoration:none;
	  font-weight:bold;
	  text-shadow: 1px 2px 5px #303030;
	  transition:all 0.2s ease-in-out;
	 }
#nav a:link,#nav a:visited{color:#FFFFFF;color:rgba(255,255,255,0.7);}
#nav a:hover,#nav a:active{color:#20B2AA;color:rgba(32,178,170,0.7);}
#nav ul{
       list-style-type:none;
       margin:0;
       padding:0;
       font-size:2em;
       display:block;
     }
#nav li{
  display:inline;
  float:left;
  margin-left:30px;
  margin-right:30px;
  display:block;
  text-align:left;
 }
#nav{
     text-align:left;
     margin:auto;
     width:1000px; 
     height:50px;	 
	 }
#container{
			margin-left:auto;
			margin-right:auto;		
			height:1800px;
			width:1550px;
            background-color:rgba(255,255,255,0.6);	
			border-radius:30px;
			margin-top:5px;
			text-indent:33px;
          }
.picture{
         width:1550px;
		 height:718px;
		 margin-left:auto;
		 margin-right:auto;
		 padding:0px;
		 text-align:center;
		 }
.picture img{
			border-radius:30px;
			}
p{line-height:1.8;
  padding-left:20px;
  padding-right:20px;
  }
h1,h2{padding-left:20px;}
h1{padding-top:20px;}
a:link,a:visited{color:#0A0A0A;color:black;}
a:hover,a:active{color:#FFFFFF;color:rgb(255,255,255);}
#sidebar{width:120px;
         height:120px;
		 position:absolute;
		 top:650px;
		 right:30px;
        }
a:hover img{transform:scale(1.5);}