body {background:url(../src/bg_2.jpg)  no-repeat;
      font-size:100%; 
	  font-family:"Microsoft YaHei",sans-serif;
	 }
#nav{width:1550px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	}
#container{
			margin-left:180px;
			margin-right:200px;		
			height:1080px;
			width:1550px;
            background-color:rgba(255,255,255,0.6);	
			border-radius:30px;
			position:fixed;
          }
body{text-align: center;}
.article{width:40%;
          height:400px;
		  margin-top:40px;
		  margin-left:60px;
          }
.article img{float:left;
              margin-right:20px;
			  }
.content {
           margin-left:10px;
           height:400px;
		   }
.content p a{text-weight:900;
             font-size:20px;
			 }
.content a:link,.content a:visited{color:#0A0A0A;color:rgba(10,10,10,0.7);}
.content a:hover,.content a:active{color:#FFFFFF;color:rgba(255,255,255,0.7);}
#sidebar{width:120px;
         height:600px;
		 float:right;
        }
#sidebar img{margin-top:5px;
             margin-bottom:20px;
			 border-radius:20px;
            }
